:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --darkestblue: #191970;
  --regularblue: #0000FF;
  --blueishblue: #2e5090;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container{
  display: flex;
  flex-direction: row;

}
.left-container {
  width: 100%;

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.title p{
  font-size: 40px;
  color: var(--blueishblue);
}

.title img{
  width: 100px !important;
  height: 100px !important;
}
.title p span{
  color: var(--regularblue);
}
.left-container img {
  width: 350px;
  height: 300px;
}
.left-container span {
  font-weight: bolder;
}
.timer-color{
  background-color: var(--darkestblue);
  color: var(--white);
  margin: 0px 5px;
  padding: 5px;
}
.timer{
  display: flex;
  flex-direction: row;
}
.right-container{
  width: 100%;
  height: 735px;
  /* background-color: var(--darkestblue); */
  background-color: lightgray;
  padding: 0px 50px;
}
.container{
  width: 500px;
  height: 300px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  margin-top:-11%;
  margin-left: 150px;
  z-index:2;
  transform: scale(0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.icon-apple{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-list p i{
  font-size: 50px;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: rgb(0, 0, 0);
}
.main-chip{
  width: 60px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.curve-top{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.curve-bottom{
   border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.main-chip .line{
 height: 25px;
 width: 100%;
 background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
 border: 1px solid black;
}
.main-chip .square{
  width: 20px;
  height: 34px;
 background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
  z-index: 2;
  position: absolute;
  margin-top: 8px;
  margin-left: 21px;
  border: 1px solid black;
  border-radius: 3px;
}

.main-chip .straight-line{
 position: absolute;
 height:50px;
 z-index: 1;
 width:31px;
 border-right: 1px solid black;
}
.sub-container{
  display:flex;
  flex-direction:row;
  
}
.wave{
/*   background-color:red; */
  position:absolute;
  margin-top:-47px;
  margin-left:94px;
}
.card_no{
/*   text-align:center; */
  font-size: 40px;
  color:rgb(0, 0, 0);
  font-family: 'cc font', monospace;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-top:20px;
  z-index:10;
}
.expiryDate{
  font-family:'cc font', monospace;
  color:rgb(0, 0, 0);
  font-size:15px;
  margin-top:40px;
}
.date{
  font-size:25px;
  
}
.name{
  color:rgb(0, 0, 0);
  font-family:'cc font', monospace;
}
.red-circle{
  background-color:#eb001b;
  width:25px;
  height:25px;
  border-radius:50%;
  
}
.yellow-circle{
  background-color:rgba(255, 209, 0, 0.7);
  width:25px;
  height:25px;
  border-radius:50%;
  margin-top:-25px;
  margin-left:-10px;
}
.holder_name{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-top:40px;
}
.red-strip{
  height:100vh;
	width:50vw;
  position:absolute;
  top:0;
  right:-150px;
  background-color:red;
  transform:skew(20deg);
  z-index:-1;
}
.card-red-strip{
  width: 200px;
  height: 339px;
  position:absolute;
  margin-top:-310px;
  margin-left:352px;
  transform:skew(20deg);
  z-index:1;
}